<!DOCTYPE html>
<html>
<head>
    <title>Ứng dụng Chat Real-Time</title>
</head>
<body>
    <h1>Chat Real-Time</h1>
    <div id="chat">
        <ul id="messages"></ul>
        <input id="message" autocomplete="off" /><button>Send</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3002');

        // Gửi tin nhắn khi người dùng nhấn Enter hoặc nút Send
        document.querySelector('button').addEventListener('click', () => {
            sendMessage();
        });

        document.querySelector('#message').addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function sendMessage() {
          console.log(111222)
            const inputMessage = document.querySelector('#message');
            const message = inputMessage.value;
            inputMessage.value = '';

            // Gửi tin nhắn lên máy chủ
            socket.emit('chat message', message);
        }

        // Lắng nghe sự kiện khi có tin nhắn mới từ máy chủ
        socket.on('chat message', (message) => {
            const ul = document.querySelector('#messages');
            const li = document.createElement('li');
            li.textContent = message;
            ul.appendChild(li);
        });
    </script>
</body>
</html>
